<table>
  <tr>
    <td *ngFor="let day of days" [ngStyle]="{ 'width': colsWidth }">{{ day }}</td>
  </tr>
  <tr>
    <td
      *ngFor="let day of days; let num = index"
      [ngStyle]="{ 'position': 'relative', 'width': colsWidth, 'height': scheduleHeight }">
      <app-timebox
        *ngFor="let ctl of getCTLByDayNum(num)"
        [code]="ctl.first.code"
        [name]="ctl.first.name"
        [teacher]="ctl.first.teacher"
        [backgroundColor]="getClassColor(ctl.first.name)"
        [timeLocation]="ctl.second">
      </app-timebox>
    </td>
  </tr>
</table>